$mobile: 592px;
$tablet: 768px;
$desktop: 992px;

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}