$ff: "Open Sans", sans-serif;
$borderRadius: 8px;
$formContainerWidth: 546px;
$btnBg: #5381f8;

:root {
    --bodyBg: linear-gradient(119deg, #5281f8 0%, #8c00bd 100%);
    --formBg: #fff;
    --btnBg: #5381f8;
}