.field {
    display: block; 
    position: relative;
    &:first-of-type {
        margin-bottom: 23px;
    }
    &__input {
        width: 100%;
        border: 1px solid rgba(3, 1, 76, 0.6);
        border-radius: $borderRadius;
        padding: 24px 24px 24px 72px;
        font-family: $ff;
        font-weight: 600;
        font-size: 13px;
        color: rgba(3, 1, 76, 1);
        outline: none;
        &.is-password {
            padding-right: 60px;
        }

        &::placeholder {
            color: rgba(3, 1, 76, 0.6);
        }
    }
    &__icon, &__eye {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &__icon {
        left: 33px;
    }
    &__eye {
        right: 38px;
        cursor: pointer;
    }
}